body{background-color: #000;overflow-x: hidden;}

.map-orange{margin: 50px auto;position: relative;}

/*start footer*/
footer{padding: 15px;text-align: center;border-top: 1px solid;}

footer .copyright{display: inline-block;color: #fff}

footer .Created{display: inline-block;color: #ff7900;}
/*End footer*/

/*start check box*/
.colorsche{color: #fff!important;}

.check-container{
  margin: 300px auto;
  position: absolute;
  top: 30%;
  width: 40%;
  left: 58%;}

  label.check-box {
    margin: 0.1rem 1rem 0.8rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1rem;
    height: 1rem;
    cursor: pointer;
    width: 100%;
  }
  .check-box span{color:#ff7900;font-weight: 100;}
  input[type="checkbox"] {
    position: relative;
    cursor: pointer;
    height: 1.2rem;
    background: white;
    outline: none;
    margin-right: 0.8rem;
  }
  
  input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    background: white;
    cursor: pointer;
  }
 .newstylemodal{
  opacity: 1!important;
  display: block!important;
  background-color: #0000007d!important;
 }

 .contmodalstyle{top: 40%!important;}

  
  input[type="checkbox"]:after {
    content: "";
    transition: .25s ease-in-out;
    position: absolute;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: .1rem solid #ff7900;
  }
  
  input[type="checkbox"]:checked:after {
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #ff7900;
    border-top-color: transparent;
    border-right-color: transparent;
  }
  /*End check box*/

/*start slide modal*/
.modal-map-orange .modal-dialog{
    position: relative;
    width: 70% !important;
    margin: 5rem auto !important;
    pointer-events: none !important;
}
.text-modal-slide{
    margin-left: 20px;
    text-align: justify;
}
@media (min-width: 576px){
  .modal-map-orange .modal-dialog{
    max-width: 70%;
    margin: 5rem auto;
  }
}

.container-img-slider {
  display: flex;
  height: 25rem;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-end;
}
.thumbnails li {
  flex: auto;
}
.thumbnails a {
  display: block;
}
.thumbnails img {
  width: 22vmin;
  height: 5.1rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

.slides {
  overflow: hidden;
  width: 72vmin;
  list-style: none;
  padding: 0;
  margin: 0;
}
.slides li {
    width: 50vmin;
    height: 94.5%;
    position: absolute;
    z-index: 1;
}
.slides img {
    height: 100%;
    max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

@-webkit-keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
/*end slide modal*/

  
  
